ul {
    list-style-type: none;
    padding-left: 0;
  }

.visually-hidden {
position: absolute !important;
height: 1px;
width: 1px;
overflow: hidden;
clip: rect(1px 1px 1px 1px);
clip: rect(1px, 1px, 1px, 1px);
white-space: nowrap;
}

.todo-label, .todo-text {
    padding-left: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: solid;
    width:90%;
}

.jumbotron {
    background-color:rgb(222, 227, 238) !important;
}

input[type=checkbox] {
    transform: scale(1.5);
}